@import '../../../styles/mixins';

@keyframes myMove {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 1000px 1000px;
  }
}

.blog-articles-list {
  //background: -webkit-linear-gradient(top,  rgba(248,248,248,1) 0%,rgba(4,158,196,0.9) 80%);
  background: url("../../../images/floating-flowers.png") repeat;
  background-size: 1000px;
  animation: myMove 20s linear infinite;
  -webkit-animation: myMove 20s linear infinite; // cubic-bezier(0.25,0.1,0.25,1)

  .blog-articles-list-bg {
    display: flex;
  }

  .blog-articles-list-bg-ol {
    li {
      padding: 3px 0;
      transition: all .5s;
    }

    li:hover {
      transform: translateX(30px);
    }

    a {
      color: #404040;
    }

    a:hover {
      color: #c40000;
    }
  }
}
