@import '../../../styles/mixins';

.blog-articles {
  position: relative;
  background-color: white;

  .blog-articles-img {
    width: 300px;
    height: 200px;
    position: absolute;
    right: 0;
    margin: 0;
  }
}

.blog-articles-footer {
  margin-bottom: 40px;
}

article {
  padding: 10px 20px 10px 20px;

  h3 {
    padding-left: 5px;
  }

  p {
    padding-left: 10px;
  }

  pre, table {
    margin-left: 10px;
  }
}

h1 {
  //background-color: #f8f8f8;
  text-align: center;
  padding-top: 4px;
  padding-bottom: 4px;
  //border-right: 5px solid #c40000;
  //border-left: 5px solid #c40000;
  margin-bottom: 0;
}

img {
  margin: 5px auto;
}
