@import '../../../styles/mixins';

.blog-header {
  user-select: none;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px 80px;
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  height: 55px;
  background-color: white;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .05);

  .blog-header-name {
    font-family: fantasy;
    font-size: 30px;
    color: #1890ff;;
  }

  .blog-header-motto {
    margin-top: 12px;
    margin-left: 10px;
    font-family: cursive;
    font-size: 14px;
  }

  .blog-header-search {
    margin-left: 40px;

    .ant-input-affix-wrapper {
      border-radius: 10px;
      border: 1px solid #eee;
      background-color: #eee;
    }

    input {
      background-color: #eee;
    }

    .ant-input-search-icon {
      color: #969696;
    }
  }

  .blog-header-home {
    font-size: 18px;
    display: flex;
    margin-left: 100px;

    .blog-header-home-page,
    .blog-header-home-map {
      margin-left: 20px;

      i {
        margin-right: 2px;
        color: #1890ff;
        cursor: pointer;
      }
    }

  }

  .blog-header-menu {
    display: flex;
    margin-left: auto;
    margin-right: 40px;


    .blog-header-menu-mode {
      margin-right: 20px;

      i {
        margin-right: 2px;
        color: #1890ff;
        cursor: pointer;
      }
    }

    .blog-header-menu-about,
    .blog-header-menu-home {
      margin-right: 20px;

      i {
        margin-right: 2px;
        color: #1890ff;
      }
    }

    .blog-header-menu-links {
      i {
        margin-right: 2px;
        color: #1890ff;
      }

    }
  }
}
