@import '../../../styles/mixins';

.blog-header {
  color: #1890ff;
  user-select: none;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 0px 80px;
  display: flex;
  border-bottom: 1px solid #f0f0f0;
  height: 55px;
  background-color: white;
  z-index: 999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, .05);

  .blog-header-name {
    font-family: fantasy;
    font-size: 30px;
    line-height: 55px;
  }

  .blog-header-bars {
    display: none;
  }

  .blog-header-motto {
    line-height: 55px;
    margin-top: 12px;
    margin-left: 10px;
    font-family: cursive;
    font-size: 14px;
  }

  .blog-header-search {
    line-height: 55px;
    margin-left: 40px;

    .ant-input-affix-wrapper {
      border-radius: 10px;
      border: 1px solid #eee;
      background-color: #eee;
    }

    input {
      background-color: #eee;
    }

    .ant-input-search-icon {
      color: #969696;
    }
  }

  .blog-header-home {
    line-height: 55px;
    font-size: 18px;
    display: flex;
    margin-left: 100px;

    .blog-header-home-page,
    .blog-header-home-map {
      margin-left: 20px;

      i {
        margin-right: 2px;
        cursor: pointer;
      }
    }

  }

  .blog-header-menu {
    line-height: 55px;
    display: flex;
    margin-left: auto;


    .blog-header-menu-mode {
      margin-right: 20px;

      i {
        margin-right: 2px;
        cursor: pointer;
      }
    }

    .blog-header-menu-about,
    .blog-header-menu-home {
      margin-right: 20px;

      i {
        margin-right: 2px;
      }
    }

    .blog-header-menu-links {
      i {
        margin-right: 2px;
      }

    }
  }
}

.ant-modal {
  min-width: 300px;
  width: 30% !important;
}

@media only screen and (max-width: 1200px) {
  .blog-header-search {
    display: none;
  }
}

@media only screen and (max-width: 900px) {
  .blog-header {
    padding: 0 20px;
    height: 40px;

    .blog-header-name {
      font-family: fantasy;
      font-size: 20px;
      line-height: 40px;
    }

    .blog-header-bars {
      display: flex;
      line-height: 40px;
      margin-left: auto;

      .blog-header-bars-bar,
      .blog-header-bars-mode {
        margin-right: 20px;
      }
    }

    .blog-header-home,
    .blog-header-search,
    .blog-header-menu {
      display: none;
    }
  }
}

