@import '../../../../styles/mixins';

.blog-java-script {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;

  img {
    height: 250px;
    width: 375px;
  }

  .blog-java-script-img {
    p {
      text-align: center;
    }
  }

  pre {
    background-color: #cccccc;
    padding-left: 10px;
    border-radius: 3px;
    font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
  }

  body {
    background-color: white !important;
    padding: 0 20px 20px 20px;
  }
}
