@import '../../../../styles/mixins';

.blog-recommended-post {
  display: flex;
  flex-direction: column;

  li {
    list-style-type: none;
  }

  .blog-recommended-post-lists {
    background-color: #fff;
    padding: 10px 15px 15px 15px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;

    li {
      display: flex;
      border-bottom: 1px dashed #ddd;

      a {
        color: #404040;
      }

      a:hover {
        color: #c40000;
      }

      p {
        color: #969696;
      }
    }

    img {
      height: 60px;
      width: 120px;
    }

    .blog-recommended-post-lists-image {
      margin: 8px 8px 8px 3px;
    }

    .blog-recommended-post-lists-content {
      margin: 5px 0 0 5px;

      p {
        margin: 5px 0 2px 0;
        padding-top: 5px;
        font-size: 10px;
      }
    }
  }
}
