@import '../../../styles/mixins';

.blog-tabs {
  display: flex;
  justify-content: center;
  background-color: black;
  button {
    font-size: 16px;
    color: white;
    border-color: black;
    background-color: black;
  }
}
