@import '../../../styles/mixins';

.blog-bread-crumb {
  display: flex;

  li {
    font-size: 18px;
    font-family: cursive;
    list-style-type: none;
    margin-left: 5px;
  }

  li:not(:first-child) {
    cursor: pointer;
  }

  li a {
    color: black;
  }

  li a:hover {
    color: #c40000;
  }
}
