@import '../../../../styles/mixins';

.blog-anchor-index {
  .ant-anchor-link {
    //display: flex;
    .fa {
      margin-left: 5px;
      cursor: pointer;
    }

    i:hover {
      color: #40a9ff
    }

    .ant-anchor-link-title {
    }

    .ant-anchor-link {
      display: block;
    }
  }

  .blog-anchor-index-block {
    display: none;
  }

  a {
    user-select: none;
  }
}

.ant-anchor-link {
  padding: 0 0 7px 16px;

  a {
    //text-decoration: underline;
  }

  a:hover {
    margin-left: -10px;
  }

  .ant-anchor-link a {
    font-size: 12px;
  }
}

.ant-anchor-wrapper {
  margin: 0;
}

.ant-anchor-ink {
  display: none;
}
