@import '../../../../styles/mixins';

.blog-blog-detail {
  display: flex;
  flex-direction: column;

  img {
    width: 100px;
    height: auto;
  }

  p {
    font-size: 22px;
    font-family: fantasy;
    text-align: center;
  }
}
