@import '../../styles/mixins';

.common-page-not-found {
  display: flex;
  justify-content: center;
  margin-top: 180px;

  .common-page-not-found-tip {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 384px;
  }
}
