@import '../../../styles/mixins';

.blog-layout {
  display: flex;
  flex-direction: column;

  .blog-layout-container {
    //border: 1px solid black;
    margin: 30px 150px 0 150px;
    padding: 10px 100px 0 50px;
  }
}
