@import '../../../styles/mixins';

.blog-layout {
  display: flex;
  flex-direction: column;

  .blog-layout-container {
    //border: 1px solid black;
    margin: 30px 150px 0 150px;
    padding: 10px 100px 0 50px;

    .ant-anchor-wrapper {
      padding-right: 14px;
    }

    .blog-layout-container-anchor {
      position: absolute;
      right: 120px
    }

    .ant-affix {
      top: 45px !important;
    }

    .blog-layout-container-post {
      display: flex;
      flex-direction: column;
      border-radius: 3px;

      body {
        background-color: white !important;
        padding: 10px 20px 20px 20px;
      }

      pre {
        background-color: #cccccc;
        padding-left: 10px;
        border-radius: 3px;
        font-family: Consolas, Monaco, 'Courier New', Courier, monospace;
      }

      h1 {
        background-color: #f8f8f8;
        text-align: center;
        padding-top: 4px;
        padding-bottom: 4px;
        border-right: 5px solid #c40000;
        border-left: 5px solid #c40000;
        margin-bottom: 0;
      }

      img {
        margin: 0 auto;
      }
    }
  }
}
