@import '../../../styles/mixins';

.blog-layout {

  .blog-layout-container {
    //border: 1px solid black;
    margin: 50px 150px 0 150px;
    padding: 10px 100px 0 50px;

    .ant-anchor-wrapper {
      padding-right: 14px;
    }

    .blog-layout-container-anchor {
      position: fixed;
      left: 1%;
    }

    .ant-affix {
      top: 45px !important;
    }

    .blog-layout-container-post {
      display: flex;
      flex-direction: column;
      border-radius: 3px;

    }
  }
}
