@import '../../../styles/mixins';

body.reader-night-mode {
  color: #b3b3b3;
  background-color: #2d2d2d !important;
}

body.reader-night-mode .blog-scroll a,
body.reader-night-mode .blog-layout-right-bottom-fix a {
  background-color: #404040;
}

body.reader-night-mode .blog-home-page-right h3 {
  background-color: #333;
  border: 1px solid #2f2f2f;

  li {
    border-right-color: #2f2f2f
  }
}

body.reader-night-mode .blog-tags-index .blog-tags-index-lists,
body.reader-night-mode .blog-collections .blog-collections-lists,
body.reader-night-mode .blog-recommended-post-lists {
  background-color: #3d3d3d;
  border-left: 1px solid #2f2f2f;
  border-right: 1px solid #2f2f2f;
  border-bottom: 1px solid #2f2f2f;
}

body.reader-night-mode .blog-tags-index .blog-tags-index-lists .blog-tags-index-tag {
  border: 1px solid #2f2f2f;
  background-color: #3d3d3d;
}

body.reader-night-mode .blog-header,
body.reader-night-mode .blog-footer,
body.reader-night-mode .blog-articles,
body.reader-night-mode .blog-my-drawer-content,
body.reader-night-mode .blog-articles-footer p,
body.reader-night-mode .blog-post,
body.reader-night-mode .common-page-not-found,
body.reader-night-mode .blog-f-links .blog-f-links-lists-li,
body.reader-night-mode .blog-anchor-index .ant-anchor-wrapper {
  background-color: #3d3d3d;
}

body.reader-night-mode .blog-header,
body.reader-night-mode .blog-recommended-post-lists li {
  border-bottom: 1px solid #2f2f2f;
}

body.reader-night-mode .blog-post,
body.reader-night-mode .blog-header-search .ant-input-affix-wrapper,
body.reader-night-mode .blog-f-links span a {
  border: 1px solid #4f4f4f;
}

body.reader-night-mode .blog-header-search .ant-input-affix-wrapper-focused,
body.reader-night-mode .blog-header-search .ant-input-affix-wrapper:focus {
  box-shadow: 0 0 0 2px rgba(236, 114, 89, 0.2);
}

body.reader-night-mode .blog-header-search .ant-input-affix-wrapper,
body.reader-night-mode .blog-header-search .ant-input-affix-wrapper input {
  background-color: #4f4f4f;
}

body.reader-night-mode h1, body.reader-night-mode h2, body.reader-night-mode h3,
body.reader-night-mode h4, body.reader-night-mode h5, body.reader-night-mode h6,
body.reader-night-mode .blog-post .blog-post-title a,
body.reader-night-mode .blog-post .blog-post-summary,
body.reader-night-mode .common-page-not-found-back a,
body.reader-night-mode .common-page-not-found-home a,
body.reader-night-mode .blog-f-links li a,
body.reader-night-mode .blog-collections-lists li,
body.reader-night-mode .blog-tags-index-lists li,
body.reader-night-mode .blog-post-footer-page-turn p,
body.reader-night-mode .blog-articles .blog-articles-list a,
body.reader-night-mode .blog-recommended-post-lists a,
body.reader-night-mode .blog-bread-crumb a,
body.reader-night-mode .blog-anchor-index .ant-anchor-link a,
body.reader-night-mode .blog-header-search input,
body.reader-orange-mode .blog-articles ol a {
  color: #b3b3b3;
}

body.reader-night-mode .blog-collections-titles h3 a {
  color: #b3b3b3;
}

body.reader-night-mode .blog-f-links li:hover {
  background-color: #c40000;
  border: 1px solid #c40000;
}

body.reader-night-mode .blog-articles .blog-articles-list a:hover {
  color: #c40000;
}


body.reader-night-mode .blog-home-page-lists-pagination a,
body.reader-night-mode .blog-sentences-list-pagination a,
body.reader-night-mode .blog-sentences-list-pagination li {
  color: #b3b3b3;
}

body.reader-night-mode .blog-sentences {
  background: -webkit-linear-gradient(top, rgba(45, 45, 45, 1) 0%, rgba(4, 158, 200, 0.9) 80%);
}
