@import '../../../../styles/mixins';

.blog-post-footer {

  p {
    background-color: white;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
    user-select: none;

    img {
      -webkit-user-drag: none;
      width: 160px;
      height: auto;
      margin-bottom: 5px;
    }
  }

  .blog-post-footer-page-turn {
    display: flex;
    margin-top: 10px;

    a {
      padding: 0 5px;
      width: 50%;
      color: rgba(0, 0, 0, 0.65);
      background-color: white;
    }

    // 选择的是a的父元素的第一个a子元素
    a:first-child {
      margin-right: 10px;
    }

    a:hover {
      background-color: #c40000;

      p {
        color: white;
        background-color: #c40000;
      }
    }

    .blog-post-footer-page-up,
    .blog-post-footer-page-down {
      text-align: center;
      p {
        padding: 10px 0 10px 0;
      }
    }

    .blog-post-footer-page-down {
      margin-left: 2%;
    }
  }
}
